{%- if value.size > 0 -%}
<div class="badge bg:bg-lighten round:semi">
  <div class="badge-inner p:tn px:xs">
    <div class="badge-content fx ai:center gp:tn">
      <div class="fi"><span class="badge-label">{{ value }}</span></div>
    </div>
  </div>
</div>
{%- endif -%}