<div class="section-header">
  {% if config.heading.size > 0 %}
  <div class="{{ text_size }} pb:lg">
    <h2 class="hd hd:xl">
      {{ config.heading }}
    </h2>
    <p class="">
      {{ config.paragraph }}
    </p>
  </div>
  {% endif %}
</div>