.filter_button {
  cursor: pointer;
  border: 1px solid;
  padding: 0.4em 0.8em;
  border-radius: 0.5em;
  transition: all ease 0.4s;
}

.filter_button:hover,
.filter_button--active {
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary-txt);
  border-color: var(--color-btn-primary-bg);
}

wdn-blog-pagination {
  display: inline-block;
  cursor: pointer;
}

.blog_filter-grid {
  white-space: nowrap;
  overflow-x: scroll;
}
